In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:

# Define the stock tickers for each sector
tech_stocks = ['AAPL', 'MSFT', 'GOOGL', 'IBM']  # Apple, Microsoft, Alphabet, IBM
finance_stocks = ['JPM', 'BAC', 'WFC', 'GS']  # JPMorgan Chase, Bank of America, Wells Fargo, Goldman Sachs
industrial_stocks = ['MMM', 'GE', 'HON', 'CAT']  # 3M, General Electric, Honeywell, Caterpillar
fmcg_stocks = ['KO', 'PEP', 'PG', 'CL']  # Coca-Cola, PepsiCo, Procter & Gamble, Colgate-Palmolive

# Combine all stock tickers into one list
all_stocks = tech_stocks + finance_stocks + industrial_stocks + fmcg_stocks

# Define the data period
start_date = '2015-01-01'
end_date = '2023-03-31'

# Download the data
data = yf.download(all_stocks, start=start_date, end=end_date)

# Save the data to a CSV file
data.to_csv('stocks_data.csv')

# Display the data for verification
print(data.head())

[*********************100%%**********************]  16 of 16 completed

Price       Adj Close                                                         \
Ticker           AAPL        BAC        CAT         CL         GE      GOOGL
Date
2015-01-02  24.402172  14.708727  70.907631  55.241547  99.899513  26.447147
2015-01-05  23.714722  14.281434  67.164665  54.833481  98.065781  25.943224
2015-01-06  23.716955  13.854141  66.732491  54.257374  95.952965  25.302961
2015-01-07  24.049520  13.919881  67.766609  54.689468  95.992828  25.228544
2015-01-08  24.973562  14.207482  68.461166  55.433590  97.148903  25.316446

Price                                                     ...   Volume  \
Ticker              GS        HON         IBM        JPM  ...       GS
Date                                                      ...
2015-01-02  161.304260  78.936691  103.354813  48.268318  ...  1877700
2015-01-05  156.267914  77.432449  101.728539  46.769829  ...  3413200
2015-01-06  153.106750  77.251305   99.534676  45.557137  ...  3429200
2015-01-07  155.388474  77.810463   98.884148  45.626644  ...  1896800
2015-01-08  157.869247  79.228073  101.033401  46.646252  ...  1962500

Price                                                                         \
Ticker          HON      IBM       JPM        KO      MMM      MSFT      PEP
Date
2015-01-02  2232817  5779673  12600000   9921100  2531214  27913900  3545700
2015-01-05  3310049  5104898  20100600  26292600  4416708  39673900  6441000
2015-01-06  4438363  6429448  29074100  16897500  4224272  36447900  6195000
2015-01-07  2738078  4918083  23843200  13412300  3685235  29114100  6526300
2015-01-08  2686367  4431693  16971100  21743600  3758908  29645200  7131600

Price
Ticker           PG       WFC
Date
2015-01-02  7251400  11700900
2015-01-05  8626100  15000500
2015-01-06  7791200  20211200
2015-01-07  5986600  15714700
2015-01-08  6823300  16721600

[5 rows x 96 columns]

In [3]:
data

Price        Adj Close                                               \
Ticker            AAPL        BAC         CAT         CL         GE
Date
2015-01-02   24.402172  14.708727   70.907631  55.241547  99.899513
2015-01-05   23.714722  14.281434   67.164665  54.833481  98.065781
2015-01-06   23.716955  13.854141   66.732491  54.257374  95.952965
2015-01-07   24.049520  13.919881   67.766609  54.689468  95.992828
2015-01-08   24.973562  14.207482   68.461166  55.433590  97.148903
...                ...        ...         ...        ...        ...
2023-03-24  159.183258  26.146852  211.912888  71.179588  72.601448
2023-03-27  157.226379  27.447451  212.879639  71.887321  74.142944
2023-03-28  156.600555  27.090990  214.988892  72.226631  74.007858
2023-03-29  159.699799  27.620863  217.762192  72.197556  74.738892
2023-03-30  161.279221  27.264404  219.266037  72.953735  74.730934

Price                                                                   ...  \
Ticker           GOOGL          GS         HON         IBM         JPM  ...
Date                                                                    ...
2015-01-02   26.447147  161.304260   78.936691  103.354813   48.268318  ...
2015-01-05   25.943224  156.267914   77.432449  101.728539   46.769829  ...
2015-01-06   25.302961  153.106750   77.251305   99.534676   45.557137  ...
2015-01-07   25.228544  155.388474   77.810463   98.884148   45.626644  ...
2015-01-08   25.316446  157.869247   79.228073  101.033401   46.646252  ...
...                ...         ...         ...         ...         ...  ...
2023-03-24  105.319130  301.167419  184.058487  119.736397  120.737251  ...
2023-03-27  102.342545  306.910004  183.892181  123.578194  124.197647  ...
2023-03-28  100.914177  306.823273  183.823700  123.606880  124.574623  ...
2023-03-29  101.273766  309.020111  184.948654  123.960487  124.825920  ...
2023-03-30  100.774338  309.424774  184.997543  123.492203  124.448959  ...

Price        Volume                                                           \
Ticker           GS      HON      IBM       JPM        KO      MMM      MSFT
Date
2015-01-02  1877700  2232817  5779673  12600000   9921100  2531214  27913900
2015-01-05  3413200  3310049  5104898  20100600  26292600  4416708  39673900
2015-01-06  3429200  4438363  6429448  29074100  16897500  4224272  36447900
2015-01-07  1896800  2738078  4918083  23843200  13412300  3685235  29114100
2015-01-08  1962500  2686367  4431693  16971100  21743600  3758908  29645200
...             ...      ...      ...       ...       ...      ...       ...
2023-03-24  2456700  2332300  3812300  22311100  12975600  4249268  28172000
2023-03-27  2300600  2133100  6524100  18853900  12777400  3345690  26840200
2023-03-28  1224300  2069700  2888900  10820500  10925700  2945509  21878600
2023-03-29  1475900  2684200  3279600  14595300   9441000  3853034  25087000
2023-03-30  1456300  1999400  3561800  12134700   9870700  2810241  25053400

Price
Ticker          PEP       PG       WFC
Date
2015-01-02  3545700  7251400  11700900
2015-01-05  6441000  8626100  15000500
2015-01-06  6195000  7791200  20211200
2015-01-07  6526300  5986600  15714700
2015-01-08  7131600  6823300  16721600
...             ...      ...       ...
2023-03-24  3713800  6144800  35694800
2023-03-27  4078600  5917200  27454600
2023-03-28  2850000  4213800  15270000
2023-03-29  4496000  4987700  20789100
2023-03-30  2743000  4117700  22340400

[2075 rows x 96 columns]

In [4]:
data.head(2)

Price       Adj Close                                                         \
Ticker           AAPL        BAC        CAT         CL         GE      GOOGL
Date
2015-01-02  24.402172  14.708727  70.907631  55.241547  99.899513  26.447147
2015-01-05  23.714722  14.281434  67.164665  54.833481  98.065781  25.943224

Price                                                     ...   Volume  \
Ticker              GS        HON         IBM        JPM  ...       GS
Date                                                      ...
2015-01-02  161.304260  78.936691  103.354813  48.268318  ...  1877700
2015-01-05  156.267914  77.432449  101.728539  46.769829  ...  3413200

Price                                                                         \
Ticker          HON      IBM       JPM        KO      MMM      MSFT      PEP
Date
2015-01-02  2232817  5779673  12600000   9921100  2531214  27913900  3545700
2015-01-05  3310049  5104898  20100600  26292600  4416708  39673900  6441000

Price
Ticker           PG       WFC
Date
2015-01-02  7251400  11700900
2015-01-05  8626100  15000500

[2 rows x 96 columns]