In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import json
import ta
import matplotlib.pyplot as pl
import plotly.express as px
import plotly.graph_objects as go

In [4]:
df = pd.read_csv('stocks_data.csv', index_col=0)
df

            Date          AZO         BKNG        CMG          NVR
0     2013-01-02   356.880005   635.308105   6.021200   930.130005
1     2013-01-03   356.140015   645.588013   6.019000   949.000000
2     2013-01-04   360.850006   645.269592   6.003600   954.489990
3     2013-01-07   356.170013   654.196167   5.991800   966.890015
4     2013-01-08   348.250000   654.235962   5.955200   974.500000
...          ...          ...          ...        ...          ...
2574  2023-03-24  2329.399902  2487.225098  32.485001  5413.000000
2575  2023-03-27  2368.550049  2496.161865  32.956402  5375.450195
2576  2023-03-28  2405.219971  2532.793701  33.057999  5413.560059
2577  2023-03-29  2395.370117  2559.314453  33.134399  5433.990234
2578  2023-03-30  2406.189941  2597.120361  33.443401  5417.109863

[2579 rows x 5 columns]

In [6]:
df1 = pd.melt(df, id_vars='Date')
df1

             Date variable        value
0      2013-01-02      AZO   356.880005
1      2013-01-03      AZO   356.140015
2      2013-01-04      AZO   360.850006
3      2013-01-07      AZO   356.170013
4      2013-01-08      AZO   348.250000
...           ...      ...          ...
10311  2023-03-24      NVR  5413.000000
10312  2023-03-27      NVR  5375.450195
10313  2023-03-28      NVR  5413.560059
10314  2023-03-29      NVR  5433.990234
10315  2023-03-30      NVR  5417.109863

[10316 rows x 3 columns]

In [3]:
# plot the 4 stocks together 


df1 = pd.melt(df, id_vars='Date')
px.line(df1, x = 'Date', y = 'value', color='variable')

ValueError: Value of 'color' is not the name of a column in 'data_frame'. Expected one of ['Date', 'variable', 'value'] but received: Ticker