Developing an LSTM model to predict future stock prices involves several steps. 
These steps include data preprocessing, model building, hyperparameter tuning, and evaluation. 

Below, I'll outline the steps and provide code snippets for each part.

First, we need to collect and preprocess the historical stock price data. 

This typically involves normalizing the data and creating sequences for the LSTM model.

In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam

In [10]:
# Load data
data = pd.read_csv('stocks_data.csv', index_col = 0)
data.head(2)

         Date         AZO         BKNG         MTD          NVR
0  2014-01-02  474.109985  1139.892334  241.529999  1017.099976
1  2014-01-03  475.500000  1127.194214  242.710007  1019.349976

In [11]:
data['Date']

0       2014-01-02
1       2014-01-03
2       2014-01-06
3       2014-01-07
4       2014-01-08
           ...
2511    2023-12-22
2512    2023-12-26
2513    2023-12-27
2514    2023-12-28
2515    2023-12-29
Name: Date, Length: 2516, dtype: object

In [12]:
# Assuming the data has a 'Date' column and 'Close' price column
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)

In [14]:
data.head(2)

                   AZO         BKNG         MTD          NVR
Date
2014-01-02  474.109985  1139.892334  241.529999  1017.099976
2014-01-03  475.500000  1127.194214  242.710007  1019.349976

In [15]:
# Feature scaling
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(data['AZO'].values.reshape(-1, 1))

In [16]:
scaled_data

array([[0.00000000e+00],
       [6.15175965e-04],
       [2.06236837e-03],
       ...,
       [9.29043150e-01],
       [9.26533717e-01],
       [9.34482328e-01]])

In [17]:

# Create sequences
def create_sequences(data, sequence_length):
    sequences = []
    labels = []
    for i in range(len(data) - sequence_length):
        sequences.append(data[i:i+sequence_length])
        labels.append(data[i+sequence_length])
    return np.array(sequences), np.array(labels)

In [18]:
sequence_length = 60  # 60 days look back
X, y = create_sequences(scaled_data, sequence_length)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
X_train

array([[[0.01664499],
        [0.0193358 ],
        [0.01514026],
        ...,
        [0.06655337],
        [0.06565054],
        [0.06417236]],

       [[0.07561716],
        [0.07460369],
        [0.07763529],
        ...,
        [0.09757297],
        [0.09457678],
        [0.0963913 ]],

       [[0.02488119],
        [0.02473513],
        [0.0249874 ],
        ...,
        [0.04929322],
        [0.05153262],
        [0.05043506]],

       ...,

       [[0.09042992],
        [0.08710623],
        [0.08572542],
        ...,
        [0.12399429],
        [0.12737106],
        [0.13089391]],

       [[0.18388256],
        [0.20397516],
        [0.19376511],
        ...,
        [0.22448377],
        [0.22570083],
        [0.22293035]],

       [[0.06531862],
        [0.06326953],
        [0.05743205],
        ...,
        [0.01736196],
        [0.01660516],
        [0.02427044]]])